<h1 class="title" [class.winner]="counterDone()>=LIMIT">Bingo</h1>

@if(counterDone()<LIMIT){
  <h3 class="number">{{counterDone()}}/{{LIMIT}}</h3>
  <div class="container">
    @for (item of options; track $index) {
    <app-card [option]="item"></app-card>
    }
  </div>
  }

  @if(counterDone()>=LIMIT){

  <article class="results">
    Resultados
    <table>
      <tr>
        <th>Opción</th>
        <th>Nombre</th>
      </tr>
      @for (item of options; track $index) {
      <tr>
        <td>{{item.text}}</td>
        <td>: {{item.name}}</td>
      </tr>
      }
    </table>
  </article>
  }
